:root {
	--color-border: lightgray;
}

body {
	display: flex;
	justify-content: space-around;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 200;
}

main {
	display: flex;
	margin: 2em;
}

aside {
	padding: 2em;
	border-right: 1px solid var(--color-border);
}

article {
	width: 30em;
	padding: 2em;

	h1 {
		text-align: right;
	}
}

h1 {
	margin: 2em 0 2em;
	font-weight: 100;
	font-size: 260%;
}

h2,
dd {
	display: block;
	margin: 0;
	font-weight: 200;
	font-size: 1em;
	text-transform: uppercase;
}

h2 {
	margin-top: 10.5em;
}

dt {
	margin-top: 1em;
	font-size: 90%;
	text-transform: lowercase;
}

#meta {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#date {
	font-weight: bold;
}

/* Table */
table {
	margin: 2em 0;
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	padding: 0.5em 0;
	&:last-child {
		text-align: right;
	}
}
thead {
	text-align: left;
	border-bottom: 1px solid var(--color-border);
}
tbody {
	padding: 1em 0 0;

	tr:last-child td {
		padding-bottom: 3em;
	}
}
tfoot tr {
	margin-top: 3em;
	border-top: 1px solid var(--color-border);

	td {
		font-weight: bold;
		text-transform: uppercase;
	}
}

/* Controls */
#controls {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0.5em;
	border-radius: 1em;
	background: black;
	box-shadow: 0 5px 5px lightgray;
	font-size: 80%;
	color: white;

	ul {
		padding: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 0 0.75em;
	}
}

@media print {
	#controls,
	iframe {
		display: none;
	}
}
