:root {
	--color-primary: black;
	--color-secondary: lightgray;
	--color-background: white;

	--color-border: var(--color-secondary);
}

body {
	display: flex;
	justify-content: space-around;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 200;
}

main {
	display: flex;
	position: relative;
	margin: 2em;
}

aside {
	padding: 2em;
	border-right: 1px solid var(--color-border);
}

article {
	width: 30em;
	padding: 2em;

	h1 {
		text-align: right;
	}
}

h1 {
	margin: 2em 0 2em;
	font-weight: 100;
	font-size: 260%;
}

h2,
dd {
	display: block;
	margin: 0;
	font-weight: 200;
	font-size: 1em;
	text-transform: uppercase;
}

h2 {
	margin-top: 11em;
}

dt {
	margin-top: 1em;
	font-size: 90%;
	text-transform: lowercase;
}

#meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#date {
	font-weight: bold;
}

/* Table */
table {
	margin: 2em 0;
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	padding: 0.5em 0;
	&:last-child {
		text-align: right;
	}
}
thead {
	text-align: left;
	border-bottom: 1px solid var(--color-border);
}
tbody {
	padding: 1em 0 0;

	tr:last-child td {
		padding-bottom: 3em;
	}
}
tfoot tr {
	margin-top: 3em;
	border-top: 1px solid var(--color-border);

	td {
		font-weight: bold;
		text-transform: uppercase;
	}
}

/* Controls */
#controls {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: .75em;
	border-radius: 8px;
	background: var(--color-primary);
	box-shadow: 0 5px 5px var(--color-border);
	font-size: 80%;
	color: var(--color-background);
	opacity: .2;
	transition: opacity .2s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
label strong {
	display: none;
}
input,
select,
button {
	appearance: none;
	display: inline-block;
	border: 0;
	font-family: inherit;
	font-weight: 200;
	font-size: medium;
}
button {
	height: 2em;
	color: var(--color-background);
	background: var(--color-primary);
	border: 1px solid var(--color-background);
	border-radius: 3px;
	line-height: 1;
	cursor: pointer;
	transition: background .2s ease-in-out;

	&:hover {
		background: var(--color-background);
		color: var(--color-primary);
	}
	&:active {
		background: var(--color-secondary);
		border-color: var(--color-border);
		color: var(--color-primary);
	}
}

label::after {
	content: '▼';
	margin-left: -1.5em;
	line-height: 1;
	color: transparent;
	pointer-events: none;
	font-size: smaller;
	-webkit-text-stroke: 1px var(--color-border);
	text-stroke: 1px var(--color-border);
}

#status {
	width: 4.5em;
	padding: 0 1em;
}

#effect_status {
	display: inline-block;
	position: absolute;
	bottom: .5em;
	right: 3em;
	border: 0.25rem solid #555;
	padding: 0.25rem 1rem;
	border-radius: 1rem;
	color: #555;
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Courier', monospace;
	text-transform: uppercase;
	transform: rotate(12deg);
	-webkit-mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png);
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;

	&[class] {
		animation: .5s ease-in stamp;
	}
	&.sent {
		transform: rotate(-5deg);
		padding: .5rem;
		border-radius: 0;
		font-size: 3rem;
		font-family: "Open sans", Helvetica, Arial, sans-serif;
		border-color: var(--color-secondary);
		color: var(--color-secondary);
	}
	&.paid {
		transform: rotate(-14deg);
		border: .5rem solid #0A9928;
		border-radius: 0;
		color: #0A9928;
	}
	&.unpaid {
		transform: rotate(3deg);
		right: 4em;
		bottom: 1.5em;
		border: .5rem double #D23;
		font-size: 2rem;
		color: #D23;
	}
}

@keyframes stamp {
	from {
		opacity: 0.1;
		transform: rotate(-5deg) scale(4);
	}
	to {
		opacity: 1;
	}
}

@media print {
	#effects,
	#status,
	#controls {
		display: none;
	}
}
